@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import "variables";

html {
  font-size: 18px;

}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: $background;
}

h1,
h2,
h3 {
  color: $veryDarkViolet;
  font-weight: 700;
  padding: 0 $padMobile;
}

p {
  color: $grayishViolet;
  padding: 0 $padMobile;
}

.cta {
  background: $cyan;
  height: 2.8rem;
  border-radius: 2.8rem;
  color: $white;
  border: none;
  padding: 0 3rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    filter: brightness(1.7);

  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  padding: 0 $padMobile;
  height: 70px;
  margin-bottom: 2rem;
}

/* menu hamburguesa */
nav {
  width: calc(100vw - 2rem);
  background-color: $darkViolet;
  position: absolute;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  transition: .5s ease;
  z-index: -1;
  border-radius: .7rem;
  opacity: 0;


  ul {
    list-style: none;
    padding: 0;
    color: $white;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding: .5rem 1.5rem;

    hr {
      padding: 0;
      height: .5px;
      border: 0;
      background-color: rgba(255, 255, 255, .2);
    }

    li {
      padding: 8px 0;
      margin: .7rem 0;
    }

    .nav__registrarse {
      width: 100%;
    }
  }
}

.nav-active {
  opacity: 1;
  z-index: 1000;
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: .5s ease;
  text-align: left;

  .menu-btn__burger {
    width: 27px;
    height: 3px;
    background: $gray;
    border-radius: 5px;
    transition: .3s ease;

    &::before,
    &::after {
      @extend .menu-btn__burger;
      content: "";
      position: absolute;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }
}

/* animacion de menu hamburguesa */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-10px);
  background: transparent;
  box-shadow: none;

  /*-15*/
  &::before {
    transform: rotate(45deg) translate(7px, -7px);
    background: $gray;
  }

  &::after {
    transform: rotate(-45deg) translate(7px, 7px);
    background: $gray;
  }
}

main {
  overflow-x: hidden;
}

.home {
  margin-bottom: 6rem;

  .home__img {
    width: 120%;
    margin: auto;
    position: relative;
    right: -8%;
  }

  p {
    margin-bottom: 2rem;
  }

  &>button {
    margin-bottom: 5rem;
  }

  .link__input {
    margin: 0 $padMobile;
    padding: 1rem 1.5rem;
    background: grey;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-image: url(../images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: $darkViolet;

    &>* {
      height: 3rem;
      margin: .5rem 0;
      border-radius: .3rem;
      border: none;
    }

    input {
      padding: 0 1rem;
    }
  }
}

.estadisticas {
  &>p {
    margin-bottom: 8rem;
  }

  .card__container {
    .card {
      position: relative;
      background: $white;
      padding: 1rem;
      padding-top: 4rem;
      margin: 6rem $padMobile;
      border-radius: $borderRadius;

      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(-50%);
        margin: auto;
        width: 2rem;
      }

      &::before {
        content: "";
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: $darkViolet;
        position: absolute;
        left: 0;
        right: 0;
        top: -2.5rem;
        margin: auto;
      }
    }
  }
}

.boost {
  padding: 5rem $padMobile;
  background-color: $darkViolet;
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: $white;
    font-size: 1.4rem;
  }
}

footer {
  background: $veryDarkBlue;
  color: $white;
  padding: 3rem $padMobile;

  svg {
    margin-bottom: 2rem;
  }

  .footer__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;

    p {
      font-weight: bold;
      font-size: 1.1rem;
      color: $white;
      margin-bottom: 2rem;
    }

    a {
      color: $grayishViolet;
      text-decoration: none;
      margin-bottom: 1rem;
      font-size: .9rem;

      &:hover {
        color: $cyan;
      }
    }
  }

  .social-media {
    font-size: 1.3rem;

    i {
      margin: 0 .5rem;

      &:hover {
        color: $cyan;
      }
    }
  }
}

@import "desktop-view";
